*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: '.';
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
}
.f1{
    float: left;
}